.container {
    display: grid; 
    grid-template-columns: 2fr; 
    grid-template-rows: 0.5fr 4fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header"
      "Main"
      "footer"; 
  }
  .header { grid-area: header; }
  .footer { grid-area: footer; }
  .Main { grid-area: Main; }