body {
    background-color: lightgray;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh auto auto auto auto 20vh;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "main main main sidebar"
      "sections sections sections sidebar"
      "sections sections sections sideimages"
      "sections sections sections sideimages"
      "sources sources sources sources";

    width: 100%;
    height: auto;
    
  }

  
  
  .header { grid-area: header;
    background-color: white;
    border-style: solid;}
  
  .sidebar { grid-area: sidebar; 
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
align-items: center;
padding: 1em;}

    .sideImage {
        
    }
    .sideList{
        width: 100%;
    }
  
  .main { 
    display: grid;
    grid-area: main; 
    background-color: white;
    border-style: solid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "text image";
      padding: 1em;
      grid-gap: 1em;
}
.mainTitle{
    grid-area: title;
}
.mainText{
    grid-area: text;
}
.mainImage {
    grid-area: image;
    align-self: center;
}

    .main h1{
        text-align: center;
    }

    .main h2{
        text-align: center;
        color: gray;
    }

  .sections{ 
    display: grid;
    grid-area: sections; 
    background-color: white;
    border-style: solid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "section1Title section1Title section1Title"
    "section1MainText section1MainText section1MainText"
    "section1Image section1ExtraText section1ExtraText"
    "section2Title section2Title section2Title"
    "section2MainText section2MainText section2MainText";
    padding: 1em;
    grid-gap: 1em;
    }

    .section1Title{
      grid-area: section1Title;
    }

    .section1MainText {
      grid-area: section1MainText;
    }

    .section1Image{
      align-self: center;
      grid-area: section1Image;
    }

    .section1ExtraText {
      grid-area: section1ExtraText;
    }

    .section2Title {
      grid-area: section2Title;
    }

    .section2MainText {
      grid-area: section2MainText;
    }
  
  .sideimages { grid-area: sideimages; 
    background-color: white;
    padding: 1em;
    }
  .sideimages img{
    margin-bottom: 2em;
  }

  .sources { grid-area: sources; 
    background-color: white;
    border-style: solid;
    padding: 1em;}
  
