/*p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}*/
h1 {
  /*font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;*/
  text-decoration: underline;
}
/*h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}*/
.foto {
  max-width: 70%;
  width: 300px;
}
.foto2 {
  max-width: 70%;
  width: 600px;
}
table {
  width: 100%;
}

.profielFoto{
  width: 50px;
  height: 50px;
  
  border-radius: 25px;
  background-color: white;
  transition-duration: 0.3s;
}
.profielFoto:hover {
  
}

.personImage {
  width: 50px;
  height: 50px;

  background-color: white;
  transition-duration: 0.3s;
}