p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
}
.about {
  width: 80%;
  border-style: solid;
  border-radius: 1px;
  margin-top: 25px;
  float: center;
}
body {
  background-color: lightgray;
}
